{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
        <meta name="Content-Style" content="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django in 48 hours</title>
    </head>
    <body>
        <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
        <meta name="Content-Style" content="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <div>
            <h1><a href="/">Django in 48 hours</a></h1>̉̉̉̉̉̉̉̉̉
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
        
    </body>
</html>
